body{
    font-family: "Verdana", sans-serif ;
    color: rgb(30,30,30);
    font-size: 16px;
}
.main{
    width: 50%;
    margin: auto;
}
.title{
    text-align: center;
}
.wrapper{
    width: 75%;
}
.image{
    width: 100%;
    height: auto;
}
.accent{
    display: inline;
}
h2,
ul li::marker,
ol li::marker,
.accent{
    color: rgb(243, 165, 75);
}
a{
    color: #35aa56;
}
a:hover{
    color: #1a7132;
}