body{
    font-family: "Verdana", sans-serif ;
    color: rgb(30,30,30);
    font-size: 16px;
}
.main{
    width: 825px;
    margin: auto;
}
#main-img{
    background-image: url('../img/landing-1000.jpg');
    margin: auto;
    width: auto;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.content-wrapper{
    padding: 10% 5%;
}
.wrapper{
    width: 75%;
}
.image{
    width: 100%;
    height: auto;
}

h2,
ul li::marker,
ol li::marker,
.accent{
    color: rgb(243, 165, 75);
}
a{
    color: #35aa56;
}
a:hover{
    color: #1a7132;
}
p {
    padding: 30px 20px;
    background-color: #F7F7F7;
}